@media only screen and (min-width: 50em) {

    .gal {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gal figure:hover {
        box-shadow: 0 0 10px 10px #D1FAFF;
    }
    form input.submitButton {
        margin-left: 12rem;
        margin-right: 10rem;
    }

    form fieldset {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    #cityinfo {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2em;
    }

    #cityinfo a {
        display: block;
        max-width: 32.5em;
    }
    
}