@media only screen and (min-width: 650px) {

    .navigation {
        flex-flow: row nowrap;
        align-items: stretch
    }

    .navigation li:first-child {
        display: none
    }

    .navigation li, .fiveday {
        display: block;
    }

    h1 {
        font-size: 3em
    }

    article img {
        float: right;
        margin-left: 15px
    }

    .contact {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 2fr
    }

    .map {
        grid-column-start: 1;
        grid-row-start: 1
    }

    .coninfo {
        grid-row-start: 1;
        grid-column-start: 2
    }

    .contact article {
        grid-row-start: 1;
        grid-column-start: 3
    }

    .gal {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem
    }

    .gal figure {
        padding: 1rem;
        margin: .5rem;
        font-style: italic
    }

    form label.top #ratingvalue {
        width: 60%
    }
    
    #cityinfo a {
        display: flex;
        flex-direction: row;
        max-width: 768px
    }

    #cityinfo a:nth-child(odd) {
        flex-direction: row-reverse
    }

}
