* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Acme', Gadget, sans-serif
}

body {
  background-color: #ffffff
}

header {
  background-color: #1A0068;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center
}

h1 {
  font-size: 2em;
  color: #ffffff;
  padding: .1em;
  margin: 0
}
 
.motto {
  font-family: 'Architects Daughter', Tahoma, Geneva;
  font-size: .62em;
  color: #FF6932;
  padding: .2em;
  font-weight: inherit;
  display: block
}

header img {
  padding: 1em;
  margin: 0
}

main, footer {
  max-width: 60rem;
}

p {
  padding: 10px;
  font-family: 'Architects Daughter', Tahoma, Geneva;
  font-size: 1rem
}

footer {
  background-color: #1A0068;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 1em;
  vertical-align: center;
  margin: 0 auto;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #D1FAFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%
 }
  
nav li { 
  font-family: 'Bangers', "Comic Sans MS", cursive;
  display: none;
  padding: .36em;
  font-size: 1.5rem;
  height: 100%
}

nav a {
  padding: .36em 1em;
  color: #1A0068;
  text-decoration: none;
  display: block;
}

nav a.active {
  background-color: #FF6932;
  color: #1A0068
}

nav a:hover:not(.active) {
  background-color: #1A0068;
  color: #ffffff;
  font-weight: 700
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column nowrap;
}

.nav li:first-child {
   display: block;
}

.responsive li {
   display: block;
}

.cname {
  font-family: 'Acme', Gadget, sans-serif;
  text-align: center;
  margin: 15px auto;
  font-size: 3rem;
  font-weight: 700;
  background-color: #1A0068;
  color: #ffffff;
  padding: .5em;
}

.wsummary {
  position: relative;
}

#currently {
	text-transform: capitalize
}

.cimage {
  width: 100%;
  margin-top: 1em;
  box-shadow: 0 0 10px 5px #D1FAFF 
} 

.summary {
  position: absolute;
  top: 1em;
  left: 1em;
  border: 2px solid #D1FAFF;
  box-shadow: 0 0 10px 5px #ebfdff;
  border-radius: 5px;
  background-color: #D1FAFF;
  padding: .3em;
  line-height: 1.2em;
  letter-spacing: .12em
}

.summary h3 {
  color: #1A0068;
  text-align: center;
  font-weight: bolder;
  line-height: 1.7em;
  font-size: 1.5em
}

.summdet {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.label {
  grid-column-start: 1;
  text-align: right;
  color: #1A0068;
  font-size: 1.25rem;
}

.label, .value {
  display: inline;
  margin: 0 .25em
}

.value {
  color: #FF6932;
  grid-column-start: 2;
  font-size: 1.25rem;
  text-align: right;
}

.fiveday {
  max-width: 32.5em;
  margin: 10px auto;
  text-align: center;
  display: none
}

.ficon img {
  max-width: 50px
}

.fiveday h4 {
  font-size: 1.75rem;
  padding: 10px
}

.forecast {
  border: 1px solid #1A0068;
  width: 100%;
  background-color: #D1FAFF;
  font-size: 1em
}

.forecast th {
  font-size: 1.25rem;
  padding: 3px;
  width: 20%
}

.socialmedia {
  border: none;
  padding: 2px;
  display: inline
}

article h4, article h5 {
  padding: 5px;
  color: #ffffff
}

article h4 {
  font-size: 1.5em;
}

article h5 {
  font-size: .75em;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table
}

article img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 10px auto;
  box-shadow: 0 0 10px 5px #000000
}

article {
  background-color: #1A0068;
  padding: 20px;
  margin: 15px auto;
  border: 1px solid #000000
}

article p {
  margin: 10px auto;
  color: #ffffff
}

.contact {
  background-color: #ffffff;
  margin: 15px auto 0;
  padding: .5em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  align-items: center
}

.map {
  max-width: 200px;
  grid-row-start: 1;
}

.coninfo, .map{
  display: inline-block
}
.coninfo {
  margin: 0 1em;
  grid-row-start: 2;
}

small a {
  color: #D1FAFF;
  text-decoration:none
}

:visited :active {
  color: #ffffff;
}

.contacth4 {
	color:#f1efeb;
	text-shadow:0 0 5px #212930
} 

.eventarticle { 
	border: none;
	display: inline-block;
	grid-row-start: 3;
  margin: 0;
  padding: 0
}

.contact article ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.contact article li {
	color:#f1efeb
}

.contact article .name {
	font-weight:700;
	text-shadow:0 0 5px #212930
}

.contact article .name li {
	font-weight:400
}

  .gal {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .gal figure {
    padding: 1rem;
    margin: .5rem;
    font-style: italic;
    box-shadow: 0 0 5px 5px #D1FAFF;
  }

  .gal figure img {
    width: 100%;
  }

  /* FORM */
  form fieldset {
    margin: 1rem;
    border: 2px solid #1A0068;
    border-radius: 7px;
    padding: 1rem;
  }

  form legend {
    margin: 0 3rem;
    padding: 0 .5rem;
    font-size: 1.25rem;
  }

  form label.top, form div {
    display: block;
    padding: 1rem;
    color: #000000;
    font-size: 1rem;
  }

  form label.top input,
  form label.top select,
  form label.top textarea {
    padding: .75rem;
    border-radius: 7px;
    display: block;
    font-size: 1rem;
    border: 1px solid #1A0068;
    max-width: 20rem;
    background-color: #D1FAFF;
  }

  form label.sbs {
    display: block;
    padding: .75rem;
  }

  form input.submitButton {
    margin: 1.5rem 3.5rem;
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid #1A0068;
    background-color: #FF6932;
    color: #1A0068;
    font-size: 1.5rem;
    width: 100%;
    max-width: 20rem;
  }

  form label.top input:required {
    border-left: 5px solid #FF6932;
  }

  form label.top input:required:valid {
    border-left: 5px solid #1A0068;
  }

  form label.top #ratingvalue {
    display: inline-block;
    text-align: right;
    margin-left: 12rem;
  }

  /* Thank You Page */

  .thankyou {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin: 2rem;
  }

  /* Homepage Cards */
  
  #cityinfo {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 1em auto;
}

#cityinfo a {
    color: #1A0068;
    background-color: #FF6932;
    border: 4px solid #1A0068;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 1em auto;
}

#cityinfo h2 {
    font-family: 'Acme', Gadget, sans-serif;
    padding: .2em;
    font-weight: bolder;
    font-size: 2rem;
}

#cityinfo img {
    width: 100%;
    margin: 0;
    vertical-align: bottom;
}

#cityinfo h3 {
    font-size: 1rem;
    padding: .2em 1em;
    font-style: italic;
}

#cityinfo .citylabel {
    font-weight: bold;
}

#cityinfo p {
    margin: .5em auto;
}