@media only screen and (min-width: 768px) {

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: inline-block;
    }
.fiveday {
    display: block;
}

}