@media only screen and (min-width: 768px) {

navigation li:first-child {
    display: none;
    }

.navigation li {
    display: inline-block;
    }
.fiveday {
    display: block;
}

header img {
    max-width: 115px;
    width: 115px;
    height: auto;
}

.title {
    font-size: 3em;
}

article img {
    display: inline-block;
    float: right;
    margin-left: 15px;
}

}