table {
    border-collapse: collapse;
    border: 2px solid gray;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: Ubuntu, sans-serif;
}  

thead {
    font-size: 2em;
    background-color: #7fb9c2;
    color: black;
}

td, th {
    border: 1px solid gray;
    padding: 10px 20px;
}

th {
    text-align: center;
}

tbody th {
    background-color: #628ca6;
    color: white;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #e7f0ed;
}
  
tr:nth-child(odd) td {
    background-color: #e7ffed;

}

tfoot {
    background-color: #7fb9c2;
    color: black;  
}

caption {
    padding: 10px;
}